<section class="accordion py-3">
  <div class="accordion-item p-3">
    <h2 class="accordion-header" id="headingOne">
        {{title}}
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Written by: {{username}}</strong>
        <p>
            {{content}}
        </p>
      </div>
    </div>
  </div>
</section>