{{#if loggedIn}}
    <h2 class="mb-3 text-center">My Dashboard</h2>
    <hr>
    <h4>Create new blog</h4>
    <div class="mb-3">
        <label for="new-blog-title" class="form-label">Title</label>
        <input type="text" class="form-control" id="new-blog-title" placeholder="New Blog Title">
    </div>
    <form class="mb-3" style="margin: 0 0 16px 0; padding: 0; box-shadow: none">
        <label for="new-blog-content" class="form-label">Content</label>
        <textarea class="form-control" id="new-blog-content" rows="3"></textarea>
        <button class="btn btn-outline-success mt-2" type="submit" id="new-blog">Post New Blog</button>
    </form>
    <hr>
    <h4>My Blogs</h4>
    {{#each userBlog as |blog|}}
        {{> blog-entry}}
    {{/each}}
{{/if}}

<script src="/js/blogPosting.js"></script>