<form id="login-form">
  <div class="mb-3">
    <label for="login-email" class="form-label">Email address:</label>
    <input type="email" class="form-control" id="login-email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="login-password" class="form-label">Password:</label>
    <input type="password" class="form-control" id="login-password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

<script src="./js/login.js"></script>