<h2 class="mb-3 text-center">Edit Post</h2>
<hr>
<div class="mb-3">
    <label for="update-blog-title" class="form-label">Title</label>
    <input type="text" class="form-control" id="update-blog-title" value="{{oneBlogData.title}}">
</div>
<div class="mb-3" style="margin: 0 0 16px 0; padding: 0; box-shadow: none">
    <label for="update-blog-content" class="form-label">Content</label>
    <textarea class="form-control" id="update-blog-content" rows="3">{{oneBlogData.content}}</textarea>
</div>
<button class="btn btn-outline-success mt-2" type="submit" id="update-blog" value="{{oneBlogData.id}}">Submit</button>

<script src="/js/updatePost.js"></script>