main {
    padding: 50px;
}

form {
    margin: 0 200px 0 200px;
    padding: 50px;
    box-shadow: 0 1px 8px -2px rgb(27, 27, 27);
}

#logout-btn:hover,
.accordion-item:hover {
    cursor: pointer;
}